*{
box-sizing: border-box;
margin: 0;
}
 .navbar{
background-color: navy;
display: flex;
 }
 .navbar a {
   color: white;
   padding: 30px 30px;
   text-decoration:none;
   text-align: center;
   font-size: 25px
 }
  .navbar a:hover{
    background-color: #ddd;
    color: black;
    font-size: 30px
  }
 .image{

   background-image: url("conversaion-940x580.jpg");
padding: 150px;


 }

 .about{
background-color:silver;
padding:100px 100px;
display: flex;
justify-content: center;
text-align: center;
flex-direction:column;
font-family: times
 }
 .about h1{
   font-size: 50px
 }
.about p{
  font-size: 30px
}

.footer {
  background-color: navy;
  padding:10px 10px;
  color: white;
 justify-content: center;
  text-align: center;
  font-size: 15px
}
