*{
  box-sizing: border-box;
  margin: 0;
}
.navbar{
  display: flex;
  background-color:navy;
}
.navbar a{
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
   font-size: 25px
}
.navbar a:hover{

  background-color: #ddd;
  color: black;
  font-size: 30px

}
.Header{
background-color:black;

  padding: 20px 20px;

  text-align: center;
  color: white;
  font-style:
  flex-direction:row;


}
.quote{

  background-color: darkgray	;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
 text-align: center;
  flex-direction:column;
}

.footer{
background-color:Navy;
padding: 30px;
color: white;
display: flex;
justify-content: center;

}
